Hello World!

{% if <condition> %} <if block>
  {% elif <condition2> %} <elif block>
  <%else%> <else block>
  <% endif %>

  {% for <variable name> in <sequence> %}
    <block inside the loops>
    {% endfor %}